
/* =====================================*/
/* Styles for the StudySphere dashboard */
/*======================================*/



/* =======================*/
 /*  COLOR PALETTE        */
/*======================= */

:root {
  --primary: #4A6FA5;
  --secondary: #2E4057;
  --background: #F4F6F8;
  --text: #1F2933;
}


/* =======================*/
/*   BODY                 */
/*======================= */

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* =========================*/
/*  CONTAINER */
/*==========================*/

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}


/* =======================
   HEADINGS
======================= */

h1 {
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}