/* =====================================*/
/* Styles for the StudySphere dashboard */
/*======================================*/



/* =======================
   COLOR PALETTE
======================= */

:root {
  --primary: #4A6FA5;
  --secondary: #2E4057;
  --background: #F4F6F8;
  --text: #1F2933;
}


/* =======================
   BODY
======================= */

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}